{% extends 'core/base.html' %}
{% block content %}
	<div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">


                                <!-- Headings -->
                                <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-between">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">Technical Details</h3>
                                            <div class="nk-block-des text-soft">
                                                <p>Vibration Data, FFT, Envelope Spectrum.</p>
                                            </div>
                                        </div><!-- .nk-block-head-content -->
                                        <div class="nk-block-head-content">
	                                        <div class="text-center" id="controls">
		                                        <label for="type" class="">Select Sensor and Axis</label>
		                                        <select name="axis" id="type" class="form-control" onchange="applyFilter(event)">
			                                        <option value="0">Sensor One, X-Axis</option>
			                                        <option value="1">Sensor One, Y-Axis</option>
			                                        <option value="2">Sensor Two, X-Axis</option>
			                                        <option value="3">Sensor Two, Y-Axis</option>
		                                        </select>
	                                        </div>
                                        </div><!-- .nk-block-head-content -->
                                    </div><!-- .nk-block-between -->
                                </div><!-- .nk-block-head -->


                                <div class="nk-block">


                                    <!-- Time Waveform -->
                                    <div class="row g-gs">
                                         <div class="col-xxl-6">
                                            <div class="card card-bordered h-100">
                                                <div class="card-inner">
										            <div class="card-title-group align-start gx-3 mb-3">
										                <div class="card-title">
										                    <h6 class="title">Real Time Vibration Data</h6>
										                </div>

										            </div>
										            <div class="nk-sale-data-group align-center justify-between gy-3 gx-5">

										            </div>
										            <div class="nk-sales-ck large pt-4" id="vibrationCharts">
										                <canvas class="sales-overview-chart-1" id="vibrationChartOneX"></canvas>
										                <canvas class="sales-overview-chart-1" id="vibrationChartOneY" style="display: none"></canvas>
										                <canvas class="sales-overview-chart-1" id="vibrationChartTwoX" style="display: none"></canvas>
										                <canvas class="sales-overview-chart-1" id="vibrationChartTwoY" style="display: none"></canvas>
										            </div>
										        </div>


                                                <!-- Time Features -->
                                                <div class="card-inner" id="features" style="padding: 0 1.5rem 0.75rem 1.5rem;">
	                                                {% for feature in features %}
		                                                {% if forloop.counter == 1 %}
			                                                <div>
			                                                <div class="nk-sales-data-group align-center justify-between mt-2" style="margin-left: 1rem !important; margin-right: 1rem !important; ">
                                                        <div class="nk-sale-data">
                                                            <span class="amount sm">Mean:</span>
                                                            <span class="amount">{{ feature.mean|floatformat:3 }}</span>
                                                        </div>
                                                        <div class="nk-sale-data">
                                                            <span class="amount sm">Std:</span>
                                                            <span class="amount">{{ feature.std|floatformat:3 }}</span>
                                                        </div>
                                                        <div class="nk-sale-data">
                                                            <span class="amount sm">Skewness:</span>
                                                            <span class="amount">{{ feature.skewness|floatformat:3 }}</span>
                                                        </div>
                                                        <div class="nk-sale-data">
                                                            <span class="amount sm">Kurtosis:</span>
                                                            <span class="amount">{{ feature.kurtosis|floatformat:3 }}</span>
                                                        </div>
                                                        <div class="nk-sale-data">
                                                            <span class="amount sm">Clearance:</span>
                                                            <span class="amount">{{ feature.clearance|floatformat:3 }}</span>
                                                        </div>
                                                        <div class="nk-sale-data">
                                                            <span class="amount sm">Impulse:</span>
                                                            <span class="amount">{{ feature.impulse|floatformat:3 }}</span>
                                                        </div>
                                                        <div class="nk-sale-data">
                                                            <span class="amount sm">Shape:</span>
                                                            <span class="amount">{{ feature.shape|floatformat:3 }}</span>
                                                        </div>
                                                        <div class="nk-sale-data">
                                                            <span class="amount sm">Crest:</span>
                                                            <span class="amount">{{ feature.crest|floatformat:3 }}</span>
                                                        </div>
                                                    </div>
			                                                </div>
														{% else %}
			                                                <div style="display: none">
			                                                <div class="nk-sales-data-group align-center justify-between mt-2" style="margin-left: 1rem !important; margin-right: 1rem !important;">
                                                        <div class="nk-sale-data">
                                                            <span class="amount sm">Mean:</span>
                                                            <span class="amount">{{ feature.mean|floatformat:3 }}</span>
                                                        </div>
                                                        <div class="nk-sale-data">
                                                            <span class="amount sm">Std:</span>
                                                            <span class="amount">{{ feature.std|floatformat:3 }}</span>
                                                        </div>
                                                        <div class="nk-sale-data">
                                                            <span class="amount sm">Skewness:</span>
                                                            <span class="amount">{{ feature.skewness|floatformat:3 }}</span>
                                                        </div>
                                                        <div class="nk-sale-data">
                                                            <span class="amount sm">Kurtosis:</span>
                                                            <span class="amount">{{ feature.kurtosis|floatformat:3 }}</span>
                                                        </div>
                                                        <div class="nk-sale-data">
                                                            <span class="amount sm">Clearance:</span>
                                                            <span class="amount">{{ feature.clearance|floatformat:3 }}</span>
                                                        </div>
                                                        <div class="nk-sale-data">
                                                            <span class="amount sm">Impulse:</span>
                                                            <span class="amount">{{ feature.impulse|floatformat:3 }}</span>
                                                        </div>
                                                        <div class="nk-sale-data">
                                                            <span class="amount sm">Shape:</span>
                                                            <span class="amount">{{ feature.shape|floatformat:3 }}</span>
                                                        </div>
                                                        <div class="nk-sale-data">
                                                            <span class="amount sm">Crest:</span>
                                                            <span class="amount">{{ feature.crest|floatformat:3 }}</span>
                                                        </div>
                                                    </div>
			                                                </div>

		                                                {% endif %}

	                                                {% endfor %}
                                                </div>
                                            </div><!-- .card -->
                                        </div><!-- .col -->
                                    </div><!-- .row -->


                                    <!-- FFT -->
                                    <div class="row g-gs">
                                         <div class="col-xxl-6">
                                            <div class="card card-bordered">
                                                <div class="card-inner">
                                                    <div class="card-title-group align-start gx-3 mb-3">
                                                        <div class="card-title">
                                                            <h6 class="title">Sales Overview</h6>
                                                        </div>

                                                    </div>
                                                    <div class="nk-sales-ck large pt-4" id="fftCharts">
                                                        <canvas class="sales-overview-chart-2" id="fftOverview-1" ></canvas>
                                                        <canvas class="sales-overview-chart-2" id="fftOverview-2" style="display: none"></canvas>
                                                        <canvas class="sales-overview-chart-2" id="fftOverview-3" style="display: none"></canvas>
                                                        <canvas class="sales-overview-chart-2" id="fftOverview-4" style="display: none"></canvas>
                                                    </div>
                                                </div>
                                            </div><!-- .card -->
                                        </div><!-- .col -->
                                    </div><!-- .row -->


                                    <!-- Envelope Spectrum -->
                                    <div class="row g-gs">
                                         <div class="col-xxl-6">
                                            <div class="card card-bordered h-100">
                                                <div class="card-inner">
                                                    <div class="card-title-group align-start gx-3 mb-3">
                                                        <div class="card-title">
                                                            <h6 class="title">Sales Overview</h6>
                                                            <p>In 30 days sales of product subscription. <a href="#">See Details</a></p>
                                                        </div>

                                                    </div>
                                                    <div class="nk-sales-ck large pt-4" id="envelopeCharts">
                                                        <canvas class="sales-overview-chart-3" id="envelope-1"></canvas>
                                                        <canvas class="sales-overview-chart-3" id="envelope-2" style="display: none"></canvas>
                                                        <canvas class="sales-overview-chart-3" id="envelope-3" style="display: none"></canvas>
                                                        <canvas class="sales-overview-chart-3" id="envelope-4" style="display: none"></canvas>
                                                    </div>
                                                </div>
                                            </div><!-- .card -->
                                        </div><!-- .col -->
                                    </div><!-- .row -->


                                </div><!-- .nk-block -->


                            </div>
                        </div>
                    </div>
                </div>
	{{ sensor_one|json_script:'sensor_one' }}
	{{ sensor_two|json_script:'sensor_two' }}


{% endblock %}
