{% load static %}
<div class="nk-sidebar nk-sidebar-fixed is-dark " data-content="sidebarMenu">
                <div class="nk-sidebar-element nk-sidebar-head">
                    <div class="nk-menu-trigger">
                        <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
                        <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                    </div>
                </div><!-- .nk-sidebar-element -->
                <div class="nk-sidebar-element nk-sidebar-body">
                    <div class="nk-sidebar-content">
                        <div class="nk-sidebar-menu" data-simplebar>
                            <ul class="nk-menu">
                                <li class="nk-menu-heading">
                                    <h6 class="overline-title text-primary-alt">Dashboards</h6>
                                </li><!-- .nk-menu-item -->
                                <li {% if request.path == '/' %} class="nk-menu-item active current-page" {% else %} class="nk-menu-item" {% endif %}>
                                    <a href="{% url 'core:main-dashboard' %}"class="nk-menu-link"
                                       >
                                        <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
                                        <span class="nk-menu-text">Main Dashboard</span>

                                    </a>
                                </li>
	                            <li {% if 'bearing-history' in request.path %} class="nk-menu-item active current-page" {% else %} class="nk-menu-item" {% endif %}>
                                    <a href="{% url 'core:bearing-history' %} " class="nk-menu-link"
                                     >
                                        <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
                                        <span class="nk-menu-text">Technical Details</span>

                                    </a>
	                                {% if is_files %}
	                                <a href="{% url 'core:bearing-history' %} " class="nk-menu-link"
                                     >
                                        <span class="nk-menu-text ml-3">25-05-2022 14:00:00</span>

                                    </a>
		                                <a href="{% url 'core:bearing-history' %} " class="nk-menu-link"
                                     >
                                        <span class="nk-menu-text ml-3">25-05-2022 15:00:00</span>

                                    </a>
		                                <a href="{% url 'core:bearing-history' %} " class="nk-menu-link"
                                     >
                                        <span class="nk-menu-text ml-3">25-05-2022 16:00:00</span>

                                    </a>
		                                <a href="/bearing-history/?q=17:00:00" class="nk-menu-link"
                                     >
                                        <span class="nk-menu-text ml-3">25-05-2022 17:00:00</span>

                                    </a>
	                                {% endif %}
                                </li>
	                            <li {% if 'time-features' in request.path %} class="nk-menu-item active current-page" {% else %} class="nk-menu-item" {% endif %} >
                                    <a href="{% url 'core:time-features' %} " class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
                                        <span class="nk-menu-text">Time Features</span>

                                    </a>
                                </li>
	                            <!-- .nk-menu-item -->
                            </ul><!-- .nk-menu -->
                        </div><!-- .nk-sidebar-menu -->
                    </div><!-- .nk-sidebar-content -->
                </div><!-- .nk-sidebar-element -->
            </div>
