{% extends 'core/base.html' %}
{% load static %}
{% block content %}
	<div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">


                                <!-- Headings -->
                                <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-between">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">Dashboard Overview</h3>
                                            <div class="nk-block-des text-soft">
                                                <p>Welcome to PDM Dashboard.</p>
                                            </div>
                                        </div><!-- .nk-block-head-content -->
                                    </div><!-- .nk-block-between -->
                                </div><!-- .nk-block-head -->


                                <div class="nk-block">


                                    <!-- Time Waveform -->
                                    <div class="row g-gs">
                                         <div class="col-xxl-6">
                                            <div class="card card-bordered h-100">
                                                <div class="card-inner">
                                                    <div class="card-title-group align-start gx-3 mb-3">
                                                        <div class="card-title">
                                                            <h6 class="title">Mean</h6>
                                                        </div>
                                                    </div>

                                                    <div class="nk-sales-ck large pt-4">
                                                        <canvas class="sales-overview-chart" id="mean"></canvas>
                                                    </div>
                                                </div>
                                            </div><!-- .card -->
                                        </div><!-- .col -->
                                    </div><!-- .row -->

	                                <div class="row g-gs">
                                         <div class="col-xxl-6">
                                            <div class="card card-bordered h-100">
                                                <div class="card-inner">
                                                    <div class="card-title-group align-start gx-3 mb-3">
                                                        <div class="card-title">
                                                            <h6 class="title">Crest</h6>
                                                        </div>
                                                    </div>

                                                    <div class="nk-sales-ck large pt-4">
                                                        <canvas class="sales-overview-chart" id="crest"></canvas>
                                                    </div>
                                                </div>
                                            </div><!-- .card -->
                                        </div><!-- .col -->
                                    </div><!-- .row -->
	                                <div class="row g-gs">
                                         <div class="col-xxl-6">
                                            <div class="card card-bordered h-100">
                                                <div class="card-inner">
                                                    <div class="card-title-group align-start gx-3 mb-3">
                                                        <div class="card-title">
                                                            <h6 class="title">Standard Deviation</h6>
                                                        </div>
                                                    </div>

                                                    <div class="nk-sales-ck large pt-4">
                                                        <canvas class="sales-overview-chart" id="std"></canvas>
                                                    </div>
                                                </div>
                                            </div><!-- .card -->
                                        </div><!-- .col -->
                                    </div><!-- .row -->

	                                <div class="row g-gs">
                                         <div class="col-xxl-6">
                                            <div class="card card-bordered h-100">
                                                <div class="card-inner">
                                                    <div class="card-title-group align-start gx-3 mb-3">
                                                        <div class="card-title">
                                                            <h6 class="title">Clearance</h6>
                                                        </div>
                                                    </div>

                                                    <div class="nk-sales-ck large pt-4">
                                                        <canvas class="sales-overview-chart" id="clear"></canvas>
                                                    </div>
                                                </div>
                                            </div><!-- .card -->
                                        </div><!-- .col -->
                                    </div><!-- .row -->

	                                <div class="row g-gs">
                                         <div class="col-xxl-6">
                                            <div class="card card-bordered h-100">
                                                <div class="card-inner">
                                                    <div class="card-title-group align-start gx-3 mb-3">
                                                        <div class="card-title">
                                                            <h6 class="title">Kurtosis</h6>
                                                        </div>
                                                    </div>

                                                    <div class="nk-sales-ck large pt-4">
                                                        <canvas class="sales-overview-chart" id="kur"></canvas>
                                                    </div>
                                                </div>
                                            </div><!-- .card -->
                                        </div><!-- .col -->
                                    </div><!-- .row -->

	                                <div class="row g-gs">
                                         <div class="col-xxl-6">
                                            <div class="card card-bordered h-100">
                                                <div class="card-inner">
                                                    <div class="card-title-group align-start gx-3 mb-3">
                                                        <div class="card-title">
                                                            <h6 class="title">Skewness</h6>
                                                        </div>
                                                    </div>

                                                    <div class="nk-sales-ck large pt-4">
                                                        <canvas class="sales-overview-chart" id="skew"></canvas>
                                                    </div>
                                                </div>
                                            </div><!-- .card -->
                                        </div><!-- .col -->
                                    </div><!-- .row -->

	                                <div class="row g-gs">
                                         <div class="col-xxl-6">
                                            <div class="card card-bordered h-100">
                                                <div class="card-inner">
                                                    <div class="card-title-group align-start gx-3 mb-3">
                                                        <div class="card-title">
                                                            <h6 class="title">Impulse</h6>
                                                        </div>
                                                    </div>

                                                    <div class="nk-sales-ck large pt-4">
                                                        <canvas class="sales-overview-chart" id="impulse"></canvas>
                                                    </div>
                                                </div>
                                            </div><!-- .card -->
                                        </div><!-- .col -->
                                    </div><!-- .row -->

	                                <div class="row g-gs">
                                         <div class="col-xxl-6">
                                            <div class="card card-bordered h-100">
                                                <div class="card-inner">
                                                    <div class="card-title-group align-start gx-3 mb-3">
                                                        <div class="card-title">
                                                            <h6 class="title">Shape</h6>
                                                        </div>
                                                    </div>

                                                    <div class="nk-sales-ck large pt-4">
                                                        <canvas class="sales-overview-chart" id="shape"></canvas>
                                                    </div>
                                                </div>
                                            </div><!-- .card -->
                                        </div><!-- .col -->
                                    </div><!-- .row -->



                                </div><!-- .nk-block -->


                            </div>
                        </div>
                    </div>
                </div>
	{{ features_x|json_script:'features_x' }}
	{{ features_y|json_script:'features_y' }}
{% endblock %}
{% block script %}
	<script src="{% static './js/time_features.js' %}"></script>

{% endblock %}