{% extends 'core/base.html' %}
{% load static %}
{% block content %}
	<div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">


                                <!-- Headings -->
                                <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-between">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">Dashboard Overview</h3>
                                            <div class="nk-block-des text-soft">
                                                <p>Welcome to PDM Dashboard.</p>
                                            </div>

                                        </div><!-- .nk-block-head-content -->
	                                    <div class="text-center" id="controls">
		                                        <label for="type" class="">Select Sensor and Axis</label>
		                                        <select name="axis" id="type" class="form-control" onchange="applyFeatureFilter(event)">
			                                        <option value="0">Sensor One, X-Axis</option>
			                                        <option value="1">Sensor One, Y-Axis</option>
			                                        <option value="2">Sensor Two, X-Axis</option>
			                                        <option value="3">Sensor Two, Y-Axis</option>
		                                        </select>
	                                        </div>
                                    </div><!-- .nk-block-between -->
                                </div><!-- .nk-block-head -->


                                <div class="nk-block">


                                    <!-- Time Waveform -->
                                    <div class="row g-gs">
                                         <div class="col-xxl-6">
                                            <div class="card card-bordered h-100">
                                                <div class="card-inner">
                                                    <div class="card-title-group align-start gx-3 mb-3">
                                                        <div class="card-title">
                                                            <h6 class="title">Mean</h6>
                                                        </div>
                                                    </div>

                                                    <div class="nk-sales-ck large pt-4" id="mean">
                                                        <canvas class="sales-overview-chart" id="mean-1"></canvas>
                                                        <canvas class="sales-overview-chart" id="mean-2" style="display: none"></canvas>
                                                        <canvas class="sales-overview-chart" id="mean-3" style="display: none"></canvas>
                                                        <canvas class="sales-overview-chart" id="mean-4" style="display: none"></canvas>
                                                    </div>
                                                </div>
                                            </div><!-- .card -->
                                        </div><!-- .col -->
                                    </div><!-- .row -->

	                                <div class="row g-gs">
                                         <div class="col-xxl-6">
                                            <div class="card card-bordered h-100">
                                                <div class="card-inner">
                                                    <div class="card-title-group align-start gx-3 mb-3">
                                                        <div class="card-title">
                                                            <h6 class="title">Crest</h6>
                                                        </div>
                                                    </div>

                                                    <div class="nk-sales-ck large pt-4" id="crest">
                                                        <canvas class="sales-overview-chart" id="crest-1"></canvas>
                                                        <canvas class="sales-overview-chart" id="crest-2" style="display: none"></canvas>
                                                        <canvas class="sales-overview-chart" id="crest-3" style="display: none"></canvas>
                                                        <canvas class="sales-overview-chart" id="crest-4" style="display: none"></canvas>
                                                    </div>
                                                </div>
                                            </div><!-- .card -->
                                        </div><!-- .col -->
                                    </div><!-- .row -->
	                                <div class="row g-gs">
                                         <div class="col-xxl-6">
                                            <div class="card card-bordered h-100">
                                                <div class="card-inner">
                                                    <div class="card-title-group align-start gx-3 mb-3">
                                                        <div class="card-title">
                                                            <h6 class="title">Standard Deviation</h6>
                                                        </div>
                                                    </div>

                                                    <div class="nk-sales-ck large pt-4" id="std">
                                                        <canvas class="sales-overview-chart" id="std-1" ></canvas>
                                                        <canvas class="sales-overview-chart" id="std-2" style="display: none"></canvas>
                                                        <canvas class="sales-overview-chart" id="std-3" style="display: none"></canvas>
                                                        <canvas class="sales-overview-chart" id="std-4" style="display: none"></canvas>
                                                    </div>
                                                </div>
                                            </div><!-- .card -->
                                        </div><!-- .col -->
                                    </div><!-- .row -->

	                                <div class="row g-gs">
                                         <div class="col-xxl-6">
                                            <div class="card card-bordered h-100">
                                                <div class="card-inner">
                                                    <div class="card-title-group align-start gx-3 mb-3">
                                                        <div class="card-title">
                                                            <h6 class="title">Clearance</h6>
                                                        </div>
                                                    </div>

                                                    <div class="nk-sales-ck large pt-4" id="clear">
                                                        <canvas class="sales-overview-chart" id="clear-1"></canvas>
                                                        <canvas class="sales-overview-chart" id="clear-2" style="display: none"></canvas>
                                                        <canvas class="sales-overview-chart" id="clear-3" style="display: none"></canvas>
                                                        <canvas class="sales-overview-chart" id="clear-4" style="display: none"></canvas>
                                                    </div>
                                                </div>
                                            </div><!-- .card -->
                                        </div><!-- .col -->
                                    </div><!-- .row -->

	                                <div class="row g-gs">
                                         <div class="col-xxl-6">
                                            <div class="card card-bordered h-100">
                                                <div class="card-inner">
                                                    <div class="card-title-group align-start gx-3 mb-3">
                                                        <div class="card-title">
                                                            <h6 class="title">Kurtosis</h6>
                                                        </div>
                                                    </div>

                                                    <div class="nk-sales-ck large pt-4" id="kur">
                                                        <canvas class="sales-overview-chart" id="kur-1"></canvas>
                                                        <canvas class="sales-overview-chart" id="kur-2" style="display: none"></canvas>
                                                        <canvas class="sales-overview-chart" id="kur-3" style="display: none"></canvas>
                                                        <canvas class="sales-overview-chart" id="kur-4" style="display: none"></canvas>
                                                    </div>
                                                </div>
                                            </div><!-- .card -->
                                        </div><!-- .col -->
                                    </div><!-- .row -->

	                                <div class="row g-gs">
                                         <div class="col-xxl-6">
                                            <div class="card card-bordered h-100">
                                                <div class="card-inner">
                                                    <div class="card-title-group align-start gx-3 mb-3">
                                                        <div class="card-title">
                                                            <h6 class="title">Skewness</h6>
                                                        </div>
                                                    </div>

                                                    <div class="nk-sales-ck large pt-4" id="skew">
                                                        <canvas class="sales-overview-chart" id="skew-1"></canvas>
                                                        <canvas class="sales-overview-chart" id="skew-2" style="display: none"></canvas>
                                                        <canvas class="sales-overview-chart" id="skew-3" style="display: none"></canvas>
                                                        <canvas class="sales-overview-chart" id="skew-4" style="display: none"></canvas>
                                                    </div>
                                                </div>
                                            </div><!-- .card -->
                                        </div><!-- .col -->
                                    </div><!-- .row -->

	                                <div class="row g-gs">
                                         <div class="col-xxl-6">
                                            <div class="card card-bordered h-100">
                                                <div class="card-inner">
                                                    <div class="card-title-group align-start gx-3 mb-3">
                                                        <div class="card-title">
                                                            <h6 class="title">Impulse</h6>
                                                        </div>
                                                    </div>

                                                    <div class="nk-sales-ck large pt-4" id="impulse">
                                                        <canvas class="sales-overview-chart" id="impulse-1"></canvas>
                                                        <canvas class="sales-overview-chart" id="impulse-2" style="display: none"></canvas>
                                                        <canvas class="sales-overview-chart" id="impulse-3" style="display: none"></canvas>
                                                        <canvas class="sales-overview-chart" id="impulse-4" style="display: none"></canvas>
                                                    </div>
                                                </div>
                                            </div><!-- .card -->
                                        </div><!-- .col -->
                                    </div><!-- .row -->

	                                <div class="row g-gs">
                                         <div class="col-xxl-6">
                                            <div class="card card-bordered h-100">
                                                <div class="card-inner">
                                                    <div class="card-title-group align-start gx-3 mb-3">
                                                        <div class="card-title">
                                                            <h6 class="title">Shape</h6>
                                                        </div>
                                                    </div>

                                                    <div class="nk-sales-ck large pt-4" id="shape">
                                                        <canvas class="sales-overview-chart" id="shape-1"></canvas>
                                                        <canvas class="sales-overview-chart" id="shape-2" style="display: none"></canvas>
                                                        <canvas class="sales-overview-chart" id="shape-3" style="display: none"></canvas>
                                                        <canvas class="sales-overview-chart" id="shape-4" style="display: none"></canvas>
                                                    </div>
                                                </div>
                                            </div><!-- .card -->
                                        </div><!-- .col -->
                                    </div><!-- .row -->



                                </div><!-- .nk-block -->


                            </div>
                        </div>
                    </div>
                </div>
	{{ features_one_x|json_script:'features_one_x' }}
	{{ features_one_y|json_script:'features_one_y' }}
	{{ features_two_x|json_script:'features_two_x' }}
	{{ features_two_y|json_script:'features_two_y' }}
{% endblock %}
{% block script %}
	<script src="{% static './js/time_features.js' %}"></script>

{% endblock %}